<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>vue 实列特性</title>
    <script src="../jquery/jquery-1.10.2.min.js"></script>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">{{ message + 'forever cgy'}}</div>
<form id="formtest" action="">
    <span>Message is: {{ message }}</span>
    <br>
    <input type="text" v-model="message" placeholder="edit me"><br/>

    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
</form>


<script type="application/javascript">
    var vm1 = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        },
        init: function () {
            console.log('start inint');
        },
        created: function () {
            console.log('解析实列完成 未开始解析 dom');
        }
    });
    var formtest = new Vue({
        el: '#formtest',
        data: {
            message: 'Hello Vue.js!',
            checked:false
        },
        watch:{
            message: function () {

            }
        }
    });
</script>
</body>
</html>