<!doctype html>
<html lang="zh" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue 实列特性</title>
    <script src="../jquery/jquery-1.10.2.min.js"></script>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">{{ message + 'forever cgy'}}</div>
<form id="formtest" action="">
    <span>Message is: {{ message }}</span>
    <br>
    <input type="text" v-model="message" placeholder="edit me"><br/>

    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label><br/>

    <!--<select v-model="selected">-->
    <!--<option selected value="a">A</option>-->
    <!--<option value="b">B</option>-->
    <!--<option value="c">C</option>-->
<!--</select>-->
    <!--<span>Selected: {{ selected }}</span><br/>-->

    <select  v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ selected }}</span>
</form>


<script type="application/javascript">
    var vm1 = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'

        }
    });
    var formtest = new Vue({
        el: '#formtest',
        data: {
            message: 'Hello Vue.js!',
            checked:false,
            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        },
        watch:{
            selected: function (val) {
                console.log(val);
            }
        }
    });
</script>
</body>
</html>